# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
*.egg-info/
.installed.cfg
*.egg

# IDE specific
.idea/
.vscode/
desktop.ini

# specific to this project
*.pkl
log.txt
ml/src/*.ps1
ml/viz/**/*
ml/results/*
ml/data/*.csv
ml/experiments/**/*.png
ml/experiments/**/*.pdf
pubs/SolarEnergy2019/srcpics/*
pubs/SolarEnergy2019/templates/*
sradmap/sandbox/*
!ml/viz/readme.txt
!ml/results/merge.py
!ml/results/readme.txt
